@font-face {
  font-family: 'iconfont';  /* project id 1149979 */
  src: url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.eot');
  src: url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.woff') format('woff'),
  url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1149979_7zpnb54ar8h.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconarrowdown:before {
  content: "\e61a";
}

.iconsousuo:before {
  content: "\e60b";
}

.iconshanchu:before {
  content: "\e6bb";
}